<footer class="bc-black">
  <div class="container py-6">

    <div class="row c-white">
      <div class="col-12 col-md-4 mb-2 mb-md-0">
        <a href="/" class="d-f ai-c">
          <img class="d-i mr-1" src="/assets/images/magenta.svg" alt="Favish">
          <img class="d-i" src="/assets/images/wordmark-white.svg" alt="Favish">
        </a>
      </div>
      <div class="col-12 col-md-4"></div>
      <div class="col-12 col-md-4">
        <h3 class="pb-1 c-magenta tt-u fw-b bdrc-magenta bbw-1 bs-s mb-2">Get in Touch</h3>
        <p class="mb-05">1412 W 6th St</p>
        <p class="mb-2">Austin, TX 78703</p>
        <a class="c-white fw-b td-n mb-2 d-b" href="mailto:hello@favish.com">hello@favish.com</a>
        <p>(512) 669-5650</p>
      </div>
    </div>

  </div>
</footer>