// Grid
$grid-max-width: 1200px;
$grid-gutter: 2rem;
$grid-columns: 12;

// Breakpoints
$breakpoint-sm: 500px;
$breakpoint-md: 700px;
$breakpoint-lg: 1000px;

// Box Shadow
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

// Fonts
$custom-font: "Muli", sans-serif;

// Colors
$colors: (
    "navy": #001f3f,
    "blue": #0074d9,
    "aqua": #7fdbff,
    "teal": #39cccc,
    "olive": #3d9970,
    "green": #2ecc40,
    "lime": #01ff70,
    "yellow": #ffdc00,
    "orange": #ff851b,
    "red": #ff4136,
    "maroon": #85144b,
    "fuchsia": #f012be,
    "purple": #b10dc9,
    "black": #333333,
    "dark-gray": #424242,
    "gray": #9b9aa1,
    "light-gray": #f2f2f2,
    "silver": #dddddd,
    "white": #ffffff,
    "magenta": #e91d63,
    "brand": #ffb819,
    "brand-second": #f9b81a,
    "dark-black": #000000,
);

@import "../node_modules/koan-sass/sass/koan-no-vars";

@font-face {
    font-family: "Supreme";
    src: local("Supreme"),
        url("../assets/fonts/Supreme-Variable.ttf") format("truetype"),
        url("../assets/fonts/Supreme-VariableItalic.ttf") format("truetype");
}

.debug {
    * {
        outline: 1px solid blue;
    }
}

body {
    color: map-get($colors, "black");
}

.body-copy {
    line-height: 1.34rem;
}

.splash-1 {
    position: absolute;
    left: -120px;
    top: 100px;

    @include breakpoint-md {
        left: -50px;
        top: 100px;
    }
}

.splash-2 {
    position: absolute;
    right: -90px;
    bottom: 0;
    display: none;

    @include breakpoint-md {
        display: block;
    }
}

.splash-3 {
    position: absolute;
    top: 0;
    right: -100px;

    @include breakpoint-md {
        display: block;
        right: 0;
    }
}

.lake-flato-home-image {
    @include breakpoint-md {
        max-width: 140%;
    }
}

.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50%;

    @include breakpoint-md {
        flex: 0 0 25%;
    }
}

.brand-image {
    padding: 50px 15px;
    max-width: 146px;
    height: auto;
}

label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

input,
textarea {
    width: 100%;
    border: 1px solid #dbdbe0;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.5rem 0.75rem;
    line-height: 1.7rem;
    background: map-get($colors, "light-gray");
}

.fw-black {
    font-weight: 900;
}

.icon {
    height: 1rem;
}

.client-logo {
    width: 150px;
    &.small {
        width: 75px;
    }
}

.hidden {
    display: none;
}

.case-study-image-container {
    max-height: 300px;
    overflow: hidden;
}

.case-study-feat-image {
    width: 100%;
}

.markdown {
    h2 {
        font-size: 2rem;
        color: map-get($colors, "black");
        font-weight: 900;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 2rem;

        @include breakpoint-sm {
            font-size: 1.5rem;
        }
    }

    blockquote {
        margin: 3rem 0;
        p {
            color: map-get($colors, "magenta");
            font-weight: bold;
        }
    }

    cite {
        font-size: 1rem;
        color: map-get($colors, "gray");
        text-transform: uppercase;
        margin-top: 0.5rem;

        @include breakpoint-sm {
            font-size: 0.8rem;
        }
    }

    img {
        width: 100vw;
        max-width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.fd-md-r {
    @include breakpoint-md {
        flex-direction: row;
    }
}

.fd-md-c {
    @include breakpoint-md {
        flex-direction: column;
    }
}

.fd-sm-c {
    @include breakpoint-sm {
        flex-direction: column;
    }
}

.dir-title {
    margin: 96px auto;

    @include breakpoint-md {
        margin: 106px auto;
    }
}

.leading-title {
    line-height: 32px;
    @include breakpoint-md {
        line-height: 88px;
    }
}

.texas-information {
    border: 2px solid #d9d9d9;
    border-radius: 8px;
    padding: 16px 12px;
    gap: 10px;
    margin: auto;

    &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;

        &:first-child {
            margin-bottom: 10px;
        }
    }
}

.section {
    &-title {
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 110%;
        color: #000000;
    }
    &-wrap {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &-line {
        border: 2px solid #f9b81a;
        margin: 24px 0;
        width: 175px;
    }
}

.quote-contact-container {
    margin: auto !important;
}

.quote {
    &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 24px;

        @include breakpoint-md {
            margin-right: 64px;
        }
    }
    &-detail {
        margin-bottom: 20px;

        &-title {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 116%;
            color: #000000;
        }
        &-content {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 116%;
            color: #000000;
        }
        &:last-child {
            margin-bottom: auto;
        }
    }
}

.contact-content {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 116%;
    color: #000000;
}

.jc-r {
    justify-content: right;
}

.work-with-us {
    &-bg {
        background-color: #ffb819;
        @include breakpoint-md {
            background-image: url("../assets/images/bg-work-with-us.png");
            background-size: cover;
        }
    }

    &-container {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    @include breakpoint-md {
        &-container {
            padding: 0 2rem;
        }
    }

    &-title {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 110%;
        color: #15130f;
        margin-bottom: 24px;
    }
    &-content {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 116%;
        color: #15130f;
        margin-bottom: 24px;
        width: 100%;

        @include breakpoint-md {
            width: 80%;
        }
    }
}

.team {
    margin-bottom: 42px;
}

.get-in-touch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    width: 100%;

    @include breakpoint-md {
        width: fit-content;
    }

    &-text {
        padding: 18px 24px;
        font-weight: 800;
        font-size: 16px !important;
        line-height: 110%;
        color: #000000;
        gap: 40px;
        width: 100%;
        justify-content: space-between;
    }
}

// Our Services

#wrapper-services {
    margin-top: 12px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 116%;
    color: #000000;
    min-height: 0;
    margin-bottom: 12px;
    @include breakpoint-md {
        margin-bottom: auto;
    }
    & li {
        & {
            margin-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        & button {
            display: flex;
            padding: 0;
            border: 3px solid black;
            border-radius: 4px;
            width: 25px;
            height: 25px;
            position: relative;
            &:before,
            &:after {
                content: "";
                height: 3px;
                width: 14px;
                background-color: black;
                position: absolute;
                top: 50%;
                left: 50%;
            }
            &:before {
                transform: translate(-50%, -50%) rotate(90deg);
                opacity: 0;
                transition: opacity 300ms ease-out;
            }
        }

        & button::before,
        & button::after {
            transform: translate(-50%, -50%);
        }
        & button::before {
            transform: translate(-50%, -50%) rotate(90deg);
        }
        & input[type="checkbox"] {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: -webkit-fill-available;
            z-index: 1;
            opacity: 0;

            &:checked ~ p {
                margin-top: 0;
                max-height: 0;
                opacity: 0;
                transition: all 400ms ease-in, max-height 800ms ease-in,
                    opacity 500ms ease-in;
            }
            &:checked ~ div button:before {
                transform: translate(-50%, -50%) rotate(90deg);
                opacity: 1;
                transition: all 300ms ease-out;
            }
        }

        & p {
            position: relative;
            overflow: hidden;
            opacity: 1;
            max-height: 1000px;
            z-index: 2;
            transition: max-height 800ms ease-out, opacity 500ms ease-out;
            margin-top: 12px;
            margin-bottom: 12px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 116%;
            color: #333333;
        }
    }
}
.footer-contact {
    margin: 12px 0;
    @include breakpoint-md {
        gap: 100px;
    }

    &-text {
        margin-bottom: 10px;
    }
}
