---
dark_nav: true
layout: default
---

<div class="row py-6 py-md-8 m-0">
  <div class="col-12 col-md-6 push-md-3">

    <h1 class="fw-black fz-2 fz-md-3 mb-1 ta-c">{{ page.name }}</h1>
    <h2 class="fz-15 mb-1 ta-c"> {{ page.tagline }}</h2>

  </div>
</div>

<img class="mb-2 mb-md-4" src="{{ page.image }}" alt="{{ page.name }}" />

<div class="px-1 px-md-2">
  <div class="col-12 col-md-6 push-md-3">
    <div class="markdown">
      {{ page.content }}
    </div>
  </div>
</div>

<div class="row py-8 bc-magenta m-0">
  <div class="col-12 ta-c p-0">
    <p class="fz-15 fw-b c-white mb-2">Are you ready to delight your customers?</p>
    <a class="c-magenta td-n py-1 px-2 br-10 fw-black bc-white d-ib" href="/contact">Let's build something great together</a>
  </div>
</div>