<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="ff-custom">

    {% if layout.dark_nav == true %}
      {% include dark-nav.html %}
    {% else %}
      {% include nav.html %}
    {% endif %}

    <section>
      {{ content }}
    </section>

    {% include footer.html %}

  </body>
</html>